.App {
  text-align: center;
}

h1 {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: italic;
}

table {
margin: 20px auto;

}

<<<<<<< HEAD
.song-header th,
.song-header select {
background-color: tomato;
color: white;
font-weight: bold;
padding: 0 100px;
margin: 0;
=======
.song-header th {
background-color: tomato;
color: white;
padding: 0 100px;

>>>>>>> 3b128b28d34a24bbf4015aa19be369d29827a4f8
}

.song-row__purple {
  background-color: purple;
  color: white;
  font-weight: bold;
  padding: 0 20px;
  text-align: center;
   
 }

 
 .song-row__purple:nth-child(odd) {
  background-color: violet;
 }
 
<<<<<<< HEAD
=======

>>>>>>> 3b128b28d34a24bbf4015aa19be369d29827a4f8
 form {
  background-color: red;
  padding: 20px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
 
}

select, input {
  width: 200px;
  margin: 0 20px;
  height: 30px;
<<<<<<< HEAD
=======
  
>>>>>>> 3b128b28d34a24bbf4015aa19be369d29827a4f8
}

input {
  height: 25px;
}

td {
  min-width: 100px;
}


form button {
  margin: 0 20px;
  border-radius: 25%;
  color: white;
  background-color: darkred;
  padding: 10px;
}

button {
  width: 100px;
  margin-left: 10px;
}

link,a {
  text-decoration: none;
  font-weight: bold;
  color: pink;
}

main {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: italic;
  padding: 0 40px;
}

